<footer class="main-footer">
  <div class="footer-row">
    <ul class="footer_ul footer_left">
      <li class="footer_li"> <a href="#">關於STYLISH</a></li>
      <li class="footer_li"> <a href="#">服務條款</a></li>
      <li class="footer_li"> <a href="#">隱私政策</a></li>
      <li class="footer_li"> <a href="#">聯絡我們</a></li>            
      <li class="footer_li"> <a href="#">FAQ</a></li>
    </ul>
    <ul class="footer_ul footer_right">
      <li class="footer_li"> <a href="#"><img class="icon" src="/public/icons/line.png" alt="line"></a></li>
      <li class="footer_li"> <a href="#"><img class="icon" src="/public/icons/twitter.png" alt="line"></a></li>
      <li class="footer_li"> <a href="#"><img class="icon" src="/public/icons/facebook.png" alt="line"></a></li>
      <li class="footer_li footer_cp"> <a href="#">&copy 2024 All rights reserved.</a></li>
    </ul>
  </div>
</footer>
