<header class="main-header">
  <ul class="main-nav">
    <li><a href="/user/signin">Signin</a></li>
    <li><a href="/user/signup">Signup</a></li>
    <li><a href="/user/signout">Signout</a></li>
  </ul>
</header>
